.env
.env.*
*.key
*.pem
secret_key.txt

TaskLink_backend/.venv/
TaskLink_backend/venv/
__pycache__/
*.py[cod]

.idea/
logo1.3.png
logo18.png
logo24px.png
logo36.png
logo48px.png
logo216.png

TaskLink_backend/static/uploads/*
!TaskLink_backend/static/uploads/.gitkeep

node_modules/

TaskLink_uniapp/unpackage/

TaskLink_uniapp/.hbuilderx/

TaskLink_uniapp/.env

.DS_Store

Thumbs.db